# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Models
models/*
!models/.gitkeep

# Datasets
data/raw/*
data/processed/*
data/evaluation/*

# Vector databases
chroma_storage/
data/chroma/
*.db

# Logs
logs/*
*.log

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db